/* APP */

.dark-mode {
  background-color: black;
  transition: background-color 1s ease;
  p {
    color: white;
  }
  span {
    color: white;
  }
  h3 {
    color: white;
  }

  .header-scroll {
    background-color: black;
  }

  .header__menu--link {
    color: white;
  }

  .header__logo--img {
    filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.8));
  }

  .about__cards--card {
    background-color: black;
  }

  .projects__card {
    background-color: black;
    border: 2px solid var(--second-color);
  }

  .projects__figure {
    background-color: var(--second-color);
  }

  .skills__item {
    border: 2px solid var(--second-color);
  }

  .skills__name {
    color: #fff;
  }

  .contact__card {
    background-color: black;
  }
}
