/* APP */

.dark-mode {
  background-color: #000000;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-image: repeating-radial-gradient(circle at 0 0,
      transparent 0,
      #000000 100px),
    repeating-linear-gradient(#080808, #080808);
  transition: all 3s ease-in-out;

  p {
    color: white;
  }

  span {
    color: white;
  }

  h3 {
    color: white;
  }

  .header-scroll {
    background-color: black;
  }

  .header__menu--link {
    color: white;
  }

  .header__dropdown-menu {
    background-color: black;
  }

  .header__logo--img {
    filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.8));
  }

  .about__cards--card {
    background-color: black;
  }

  .projects__card {
    background-color: black;
    border: 2px solid var(--second-color);
  }

  .projects__figure {
    background-color: var(--second-color);
  }

  .carousel-modal {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .carousel-container {
    border: 2px solid var(--second-color);
  }

  .skills__item {
    border: 2px solid var(--second-color);
  }

  .skills__name {
    color: #fff;
  }

  .contact__card {
    background-color: black;
  }

  .footer {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(132, 54, 210, 0.3);
  }

  .presentation__name {
    background: url(/backname.gif) 0 0 / cover no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}