@import url('./index.css');
/* Header */

.header{
    display: none;
}

.header-scroll {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease;
    background-color: rgb(231, 231, 231, .9); /* Color de fondo con transparencia al hacer scroll */
  }

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header__menu-link {
    text-decoration: none;
    color: var(--font-color);
    transition: color 0.4s ease;
}

.header__menu-link:hover{
    color: var(--second-color);
}


.header__logo--img{
    width: 2rem;
}

.header__buttons{
    display: flex;
    gap: .6rem;
}

.header__button{
    border: none;
    cursor: pointer;
    background: none;
    transition: transform 0.2s ease;
}

.header__button:hover{
    transform: scale(1.1);
}

.header__button--icon{
    width: 1.4rem;
}

.header__button--flag{
    width: 2rem;
}



@media screen and (max-width: 768px) {
.header__nav{
    display: none;
}
}