/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
:root {
  --font-color: #4f4f4f;
  --second-color: #8436D2;
  --third-color: #e7e7e7;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
}

