/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
:root {
  --font-color: #4f4f4f;
  --second-color: #8436d2;
  --third-color: #e7e7e7;
}

body {
  width: 100%;
  height: 100dvh;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
}

h2 {
  font-size: 3rem;
  color: var(--second-color);
}

.separator {
  display: flex;
  justify-content: center;
  width: 100%;
}

.separator__line {
  width: 80%;
  border-top: 2px solid var(--third-color);
  margin: 1rem; /* Margen superior e inferior para espaciar la línea */
}
