@import url('./index.css');

/* Proyects */

.proyects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.proyects__title{
    color: var(--second-color);
}

.proyects__description{
    text-align: center;
    width: 80%;
}

.proyects__cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    justify-content: center;
}

.proyects__card{
    display: flex;
    width: 26rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--third-color);
    border-radius: 1rem;
    padding: 1rem;
    gap: .4rem;
}

.proyects__image{
width: 100%;
display: flex;
justify-content: center;
}

.proyects__figure{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5) inset;
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5) inset;
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5) inset;
}

.proyects__figure--img{
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

.proyects__icon{
    display: flex;
}

.proyects__icon--img{
    width: 2rem;
}

.proyects__description--p{
    text-align: center;
}

.proyects__buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.proyects__button{
    width: 6rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid black;
    background: var(--second-color);
    transition: transform 0.2s ease;
}

.proyects__button:hover{
    transform: scale(1.1);
}

.proyects__button--link{
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
    .proyects__description{
        width: 100%;
    }
}