@import url('./index.css');

/* Skills */

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.skills__title{
    color: var(--second-color);
}

.skills__figure{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.skills__item{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 2px solid var(--second-color);
    transition: transform 0.4s ease;
    align-items: center;
    color: var(--second-color);
    padding: .4rem;
}

.skills__item:hover{
    transform: scale(1.04);
}

.skills__img{
    width: 8rem;
}


@media screen and (max-width: 768px) {
    .skills__img{
        width: 6rem;
    }
}